@import '../mixins';

/** A React component holding the currently selected repository */
#repository {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  // border-top: var(--base-border);
  margin: 8px 8px;
  height: 100%;
  min-height: 0;

  > .focus-container {
    display: flex;
  }

  &-sidebar {
    // margin-left: 8px;
    // margin-bottom: 8px;
    // border-top-right-radius: 8px;
    border-radius: 6px 6px 6px 6px;
    display: flex;
    flex-direction: column;
    // background: linear-gradient(180deg, #4F3D95 0%, #884174 100%);
    // border-right: 1px solid var(--box-border-color);
    background: #0b0b0c;

    .tab-bar {
      flex-shrink: 0;
    }

    .panel {
      height: 100%;
      flex: 1 1 auto;
      min-height: 0;
      overflow-y: auto;
    }
  }
}
